<%= render :partial => 'email_header.html' %>
<p>Hello <%=@credential_name%>,</p>

<p>Recently, someone (hopefully you) requested that your password be reset on <%=h @company_name%>'s website.
If indeed this request came from you, <%=link_to 'click here', @reset_password_url_for %> to finish resetting your password.</p>

<p>If for some reason the link above did not work, copy and paste the following address into your web browser to proceed:</p>
<tt><%=url_for @reset_password_url_for %></tt>

<p>If this request was not initiated by you, then perhaps someone is up to no good, with your account on this system.
Please forward this email to <a href="mailto:<%=@site_admin_email%>"><%=@site_admin_email%></a> with any additional 
information you may have.</p>

<p>Feel free to contact us at any time for further help on resetting your password.</p>
<%= render :partial => 'email_footer.html' %>
